# ASSIGNMENT 4

# Question 1

WE can import panda using - "import panda" We can check the version using "pandas.__version__"

In [2]:
import pandas as pd
print(pd.__version__)

1.0.5

# Question 2

We can create Series from a Numpy Array by just passing the array as Series attribute

In [4]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])
srr = pd.Series(arr)
print(srr)

0    1
1    2
2    3
3    4
4    5
dtype: int32

# Question 3

WE can convert the index into column by using - df.reset_index(inplace=True)

In [5]:
import numpy as np
import pandas as pd

data = np.array(['a', 'b', 'c', 'd', 'e']) 
  
series = pd.Series(data, index = [1, 2, 3, 4, 5]) 

df = series.to_frame().reset_index() 
  
df

   index  0
0      1  a
1      2  b
2      3  c
3      4  d
4      5  e

# Question 4

In [6]:
import seaborn as sns
sns.get_dataset_names()

C:\Users\zaifr\anaconda3\lib\site-packages\seaborn\utils.py:384: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file C:\Users\zaifr\anaconda3\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [7]:
data = sns.load_dataset("mpg")
data.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

# Question 5

USA

# Question 6

In [8]:
usa_data = data[data.origin == "usa"]
print(usa_data)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
392  27.0          4         151.0        90.0    2950          17.3
393  27.0          4         140.0        86.0    2790          15.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year origin                       name
0            70    usa  chevrolet chevelle malibu
1            70    usa          buick skylark 320
2            70    usa         plymouth satellite
3            70    usa              amc rebel sst
4            70    usa                ford torino
..          ...    ...                        ...
392          82    usa           chevrolet camaro
393          82    usa            ford mustang gl
395          82    usa              dodge rampage
396          82    usa                ford ranger
397          82    usa                 chevy s-10

[249 rows x 9 columns]